[FORMAT]

# Maximum number of characters on a single line.
max-line-length=150

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=\".*\"

# Allow certain short variable names
good-names=f,w,h,c,i,j,k,x,y,z,r,g,b,e,t0,t1,dx,dy,ev,ui

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF

# Disable spurious warnings about numpy member functions
extension-pkg-whitelist=numpy
