[Desktop Entry]
Type=Application
Terminal=false
Name=glview
GenericName=Image Viewer
Comment=Fast image viewer with zooming and tiling
TryExec=glview
Exec=glview %F
MimeType=image/png;image/x-png;image/jpg;image/jpeg;image/x-portable-anymap;image/x-portable-graymap;image/x-portable-pixmap;
Categories=Graphics;Viewer;
